#top{
	height: 50%;
	background-color: #32942F;
}

#bottom{
	height: 60%;
}

.form_table{
	width: 20%;
	margin-right: 200px;
	margin-top: 50px; 
}

.form_ele{
	width: 100%;
	margin-top: 10px;
}

/*format a color*/
a:active{
	color: #FFFFFF;
}
a:link{
	color: #FFFFFF;
}
a:visited{
	color: #FFFFFF;
}
a:hover{
	color: #FFFFFF;
}

